@use "../../../styles/breakpoints" as *;

.skill-card {
  @apply flex flex-col justify-center items-center;
  background: var(--color-surface);
  border: 1px solid var(--color-border-strong);
  padding: 18px 0;
  gap: 4px;

  @include up-tablet {
    padding: 20px 10px;
    min-width: 82px;
  }

  @include up-desktop {
    padding: 28px 18px;
    min-width: 110px;
    gap: 14px;
  }

  // .skill-card__icon-wrap
  &__icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // .skill-card__icon
  &__icon {
    width: 16px;
    height: 16px;

    @include up-desktop {
      width: 20px;
      height: 20px;
    }
  }

  // .skill-card__title
  &__title {
    @apply font-code;
    color: var(--color-fg-secondary);
    font-size: 10px;

    @include up-desktop {
      font-size: 12px;
    }
  }
}
